.card{
    background-image:  url('../../../assets/test_1.jpg');
    background-position: bottom;
    background-size: cover;
}
// font-size: 20px;
//     font-weight: 500;
//     color: #FFFFFF;
//     padding-left: 3px;